.nav-item{
  padding-left: 20pt;
  padding-right: 20pt;
}
.menu-bloque{
  height: 20pt;
  background-color: #FFFF00;
}
.marketing .item {
  height: 500px;
  background-color: #777;
}
.marketing .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
}
.carousel-caption {
  align-content: center;
  left: 65% !important;
  top: 20pt !important;
  right: 5% !important;
  width: 30%;
}

.informaciones{
    height: 100px;
  }
.informaciones .carousel-item{
  height: 100px;
}
.informaciones .image-slide {
  position: absolute;
  top: 20px;
  left: 150px;
  width: 50px;
  height: 50px;
}
.informaciones .carousel-caption p{
  color: #000000;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .marketing .item {
    height: 300px;
    background-color: #777;
  }
  .marketing .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    clear: both;
  }
  .carousel-caption {
    position: absolute;
    align-content: center;
    left: 15% !important;
    right: 15% !important;
    top: 50% !important;
    width: 70%;
    height: 50%;
  }
}

@media  (max-width : 800px){
  .marketing .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    clear: both;
  }
  .carousel-caption {
    position: absolute;
    align-content: center;
    left: 15% !important;
    right: 15% !important;
    top: 50% !important;
    width: 70%;
    height: 50%;
  }
}
