.nav-item{
  padding-left: 20pt;
  padding-right: 20pt;
}
.menu-bloque{
  height: 20pt;
  background-color: #FFFF00;
}

.marketing {
  height: 500px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  right: 10% !important;
  left: auto !important;
  top: 60pt !important;
  width: 40%;
}
.carousel-item div.container{

}
.marketing .item {
  height: 500px;
  background-color: #777;
}
.marketing .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 50px;
  min-width: 50%;
  height: 500px;
}

.informaciones{
    height: 100px;
  }
.informaciones .carousel-item{
  height: 100px;
}
.informaciones .image-slide {
  position: absolute;
  top: 20px;
  left: 150px;
  width: 50px;
  height: 50px;
}
.informaciones .carousel-caption p{
  color: #000000;
}
